
#survey-title {
	margin-top: 0px;
}

#survey-progress {
	transition: width 0.6s;
	-moz-transition: width 0.6s;
	-webkit-transition: width 0.6s;
	-o-transition: width 0.6s;
	min-width: 20px;
}

#email-error-div > p {
	display: none;
	color: #FF0000 !important;
}

#user-form {
	margin-top: 15px;
	margin-bottom: 15px;
}

#user-form > div {
	margin-right: 24px;
}

#user-form > div > label {
	margin-right: 4px;
}

h3, h4 {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

h3 {
	text-decoration: underline;
}

.comment-area {
	min-width: 100%;
	max-width: 100%;
	max-height: 120px;
}

.input-area {
	min-width: 100%;
	max-width: 100%;
	max-height: 160px;
}

.mult-input-div {
	float: none !important;
	clear: both !important;
	margin-bottom: 6px;
}

.mult-input-label {
	margin-top: 6px;
	margin-right: 15px;
	font-weight: normal;
}

.mult-input-text {
	max-width: 260px !important;
}

#email-error {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

#submit-button > span {
	margin-right: 8px;
}

.show-all-answers-label, .hide-all-answers-label {
	text-decoration: none !important;
}

.show-answers-label, .hide-answers-label, .show-all-answers-label, .hide-all-answers-label {
	margin-right: 10px;
	cursor: pointer;
}

.answers-row {
	display: none;
	background-color: #FFFFFF;
	padding-bottom: 15px;
	margin-top: 10px !important;
	margin-bottom: 25px !important;
}

table {
	margin-bottom: 0px !important;
}

.input-div {
	margin-bottom: 10px;
}