.navbar-default {
	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-o-border-radius: 0px !important;
	background-color: #2A2A37 !important;
	border: none !important;
}

.navbar-brand {
	color: #EEEEEE !important;
}

.navbar-nav > li > a {
	color: #CCCCCC !important;
}

.navbar-nav > li > a:hover {
	color: #EEEEEE !important;
}

.navbar-nav > li.active > a {
	color: #555555 !important;
}

.navbar-nav > li.open > a {
	color: #555555 !important;
}

.footer {
	background-color: #2A2A37;
	color: #FFFFFF;
	min-height: 100px;
}

.row {
	margin-bottom: 10px !important;
}

.home-right > h3 {
	margin-top: 0px !important;
}

#home-carousel{
	width: 100% !important;
	height: 300px !important;
}

#home-carousel > .carousel-inner > .item {
	width: 100% !important;
	height: 300px !important;
}

#home-carousel > .carousel-inner > .item > img {
	width: 100% !important;
	height: 300px !important;
}

.carousel-caption {
	background-color: rgba(0, 0, 0, 0.6);
	bottom: 0 !important;
	padding-top: 0px !important;
	padding-bottom: 30px !important;
	left: 0% !important;
	right: 0% !important;
	
}

.carousel-caption h3 {
	margin-top: 10px !important;
}

.carousel-indicators {
	bottom: 0 !important;
	margin-bottom: 10px !important;
}

.carousel-control {
	z-index: 11;
}

.panel-primary {
	border-color: #2A2A37 !important;
}

.panel-primary > .panel-heading {
	background-color: #2A2A37 !important;
	border-color: #2A2A37 !important;
}

@media (min-width: 768px && !handheld) {

.dropdown-menu {
	display: block;
	opacity: 0;
	height: 0px;
	max-height: 0px;
    overflow: hidden;
    -webkit-transition: max-height 1s;
       -moz-transition: max-height 1s;
            transition: max-height 1s;
}
	
.dropdown:hover > .dropdown-menu {
	opacity: 1;
	height: auto;
	max-height: 1000px;
}
}