ol > li > a {
	color: #2A6496 !important;
}

ol > li > a:hover {
	color: #2A2A37 !important;
	text-decoration: none;
}

ol > li > a:focus {
	text-decoration: none;
}

#subcategories-div {
	padding: 0px !important;
	margin-bottom: 10px;
}

table tr {
	background-color: #FFFFFF;
}

table > thead > tr > td:first-child {
	min-width: 40px;
}

table > tbody > tr {
	cursor: pointer;
	transition: background-color 0.1s ease-out, color 0.1s ease-out;
	-o-transition: background-color 0.1s ease-out, color 0.1s ease-out;
	-moz-transition: background-color 0.1s ease-out, color 0.1s ease-out;
	-webkit-transition: background-color 0.1s ease-out, color 0.1s ease-out;
}

table > tbody > tr:hover {
	background-color: #2A6496;
	color: #FFFFFF;
}

.center {
	text-align: center;
}

.v-center {
	vertical-align: middle !important;
}

#files-div {
	background-color: #FFFFFF;
	border-color: #e5e5e5 #eee #eee;
	border-style: solid;
	border-width: 1px 0;
	border-radius: 4px 4px 0 0;
	padding: 15px 15px;
}