h3.page-title {
	margin-bottom: 30px;
}

#expand-area, #minimize-area {
	cursor: pointer;
}

#webtop {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: default;
}

.modal-backdrop {
	z-index: 2000 !important;
}

.modal {
	z-index: 2001 !important;
}

#webtop .panel-title small span.glyphicon {
	font-size: 12px;
	margin-right: 8px;
}

#webtop > .panel-body {
	padding: 0px !important;
	margin-top: 20px;
	height: 100% !important;
}

#webtop > .panel-body > #top-div {
	position: relative;
	margin-top: 10px;
	width: 100%;
	height: 100% !important;
	min-height: 300px !important;
	padding-bottom: 50px !important;
	padding-left: 8px;
}

.panel-title, #top-div, #bottom-div {
	padding-left: 20px !important;
	padding-right: 20px !important;
}

#webtop > .panel-body > #top-div > div {
	padding: 0px !important;
}

#webtop > .panel-body > #top-div > .folder-content {
	position: relative;
	min-height: 200px;
	height: 80%;
}

.header-options {
	color: #CCCCCC;
	padding-left: 20px;
	transition: color 0.4s;
	-moz-transition: color 0.4s;
	-webkit-transition: color 0.4s;
	cursor: pointer;
}

.header-options:hover {
	color: #FFFFFF;
}

#webtop > .panel-body > #bottom-div {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 50px !important;
	padding-top: 10px;
}

#trash {
	margin-right: 8px;
	margin-bottom: 8px;
}

#trash > span.glyphicon {
	font-size: 24px;
}

#trash > span.glyphicon:hover {
	color: #2A6496;
}

#trash-div h4 small {
	font-size: 12px !important;
}

.category, .file, .trash-category, .trash-file {
	font-size: smaller;
	margin-bottom: 10px;
}

.category.opened, #trash.opened, .trash-category.opened, .trash-file.opened {
	color: #2A6496;
}

.category > .glyphicon, .file > .glyphicon, .trash-category > .glyphicon, .trash-file > .glyphicon {
	text-align: center !important;
	font-size: 30px;
	width: 100%;
	float: none;
	clear: both;
}

.category > .category-label, .trash-category > .category-label, .file > .file-label, .trash-file > .file-label {
	text-align: center !important;
}

.context-menu-item.icon > span.glyphicon {
	position: absolute;
	top: 5px;
	left: 6px;
}

#minimized {
	height: 100%;
	margin-left: 8px;
}

#minimized > button {
	min-width: 100px;
	margin-right: 2px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.webtop-div {
	display: none;
	border: 1px solid #444444;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-moz-box-shadow: 3px 3px 14px #BBBBBB, -3px 3px 14px #BBBBBB, 3px -3px 14px #BBBBBB, -3px -3px 14px #BBBBBB;
	-webkit-box-shadow: 3px 3px 14px #BBBBBB, -3px 3px 14px #BBBBBB, 3px -3px 14px #BBBBBB, -3px -3px 14px #BBBBBB;
	box-shadow: 3px 3px 14px #BBBBBB, -3px 3px 14px #BBBBBB, 3px -3px 14px #BBBBBB, -3px -3px 14px #BBBBBB;
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	height: 100%;
}

.webtop-div > .window-header {
	height: 40px !important;
	background-color: #2A2A37;
	color: #FFFFFF;
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
	border-bottom: 1px solid #444444;
	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0px !important;
}

.webtop-div > .window-content {
	background-color: #FFFFFF;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	overflow: auto;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 50px;
	margin: 0px !important;
}

.webtop-div > .window-header:hover {
	cursor: default;
}

.webtop-div > .row {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.webtop-div button {
	margin-top: 9px;
	margin-left: 6px !important;
}

.control-buttons {
	margin-right: 10px;
}

.control-buttons > button {
	cursor: default;
}

#trash-front-btn {
	margin-left: 1px !important;
}

.popover {
	font-size: 12px !important;
	min-width: 200px !important;
	max-width: 500px !important;
	width: 420px !important;
}