h4.static-header {
	text-align: center;
	margin: 25px 0px;
}

.research_content {
	text-align: justify;
	padding-right: 50px !important;
	margin-bottom: 20px;
}

.research_content ol, .research_content ul {
	padding-left: 15px !important;
}

.research_content ol.loose-ol > li {
	margin-bottom: 18px;
}

.research_content ol.loose-ol > li > h5 {
	margin-bottom: 6px !important;
}

.research_content ol.loose-ol > li > ul > li > a {
	text-decoration: none;
}