#login-form, #edit-form, #register-form {
	margin-top: 40px;
}

#change-pass-form {
	margin-top: 20px;
	display: none;
}

#change-pass {
	color: #2A6496 !important;
	float: none;
	clear: both;
	margin-top: 30px;
}

#change-pass:hover, #change-pass:focus {
	color: #2A2A37 !important;
	text-decoration: none;
	outline: none;
	cursor: pointer;
}

#change-pass-error, #fill-all-error, #welcome {
	display: none;
}

#confirm-input, #username-input {
	width: 100%;
}

#confirm-sign, #username-availability {
	position: absolute;
	top: 7px;
	right: 20px;
}

#confirm-sign span, #username-availability span {
	display: none;
}

#register-form .help-block {
	color: #FF0000 !important;
	opacity: 0.8;
	height: 20px;
	margin-bottom: 0px !important;
}

#email-error {
	display: none;
	font-size: 11px;
}