.fa-spin {
	animation: 2s linear 0s normal none infinite spin;
}

@-moz-keyframes spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(359deg);
}
}
@-moz-keyframes spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(359deg);
}
}
.fa-rotate-90 {
    transform: rotate(90deg);
}
.fa-rotate-180 {
    transform: rotate(180deg);
}
.fa-rotate-270 {
    transform: rotate(270deg);
}