#articles-table {
	background-color: #FFFFFF;
	margin-top: 10px;
}

td.article:hover {
	cursor: pointer;
}

td.carousel, td.carousel_position, td.is-published {
	text-align: center;
}

#modal-form {
	opacity: 0;
	height: 0px;
}

#article-short-desc, #article-long-desc, #new-article-short-desc, #new-article-long-desc {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	min-height: 120px;
}

#article-short-desc, #new-article-short-desc {
	max-height: 200px;
}

#article-long-desc, #new-article-long-desc {
	max-height: 500px;
}

#modal-images {
	display: none;
	margin-top: 10px;
}

#image-same-name {
	color: #AA0000;
}

#small-image-form > .form-group:first-child, #carousel-image-form > .form-group:first-child {
	margin-bottom: 0px !important;
}

.submit-position {
	width: 10px;
	margin-left: 12px;
	color: #00FF00;
	cursor: pointer;
}