.navbar-default {
	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-o-border-radius: 0px !important;
	background-color: #2A2A37 !important;
	border: none !important;
}

.navbar-brand {
	float: left;
	color: #EEEEEE !important;
}

h4#panel-title {
	
	margin: 0px !important;
	padding: 15px;
	color: #CCCCCC !important;
}

.container {
	min-height: 100% !important;
}

.footer {
	background-color: #2A2A37;
	color: #FFFFFF;
	min-height: 100px;
	clear: both;
	position: relative;
	z-index: 10;
	height: 3em;
	margin-top: -3em;
}