.navbar-default {
	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-o-border-radius: 0px !important;
	background-color: #2A2A37 !important;
	border: none !important;
}

.navbar-header {
	padding-bottom: 5px !important;
}

.navbar-brand {
	float: left;
	color: #EEEEEE !important;
}

h4#panel-title {
	margin: 0px !important;
	padding: 15px;
	color: #CCCCCC !important;
}

.nav-admin-panel {
	float: right;
	width: 300px;
	margin-right: 20px;
}

#admin-login-form {
	margin-top: 60px;
}